<h1>Hello, <%= @object.name %></h1>

<p>
We appreciate your Interest and Thanks for applying at Sigmoid, Bengaluru. We have received your application and currently under the process of reviewing applications. If your profile and experience align at what we are looking for, you will soon expect a phone call from our team to schedule your further rounds of interview.


</p>


<h4> Thanks again for applying at us. </h4>
<h4> Bestpeers HR team </h4>
