<h1>Hello, <%= @object.name %></h1>

<p>
Hello <%= @object.name %>
Your Application Has been Shortlisted  for the next Round, wait for 
Notification we will notify you before Two days
</p>




<h4> Thank You </h4>
<h4> Bestpeers HR team </h4>