<% if current_user.admin? %>
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3">new Job</h1>
        <%= render 'form', job: @job %>
      </div>
    </div>
  </div>
<% end %>
