
  <table class="table table-bordered">
      <tr>
        <th>applicants</th>
        <th>Email id</th>
        <th>contact number</th>
      </tr>
    <tbody>
      <% @requests.each do |rq| %>
        <tr>
          <td><%= rq.name%></td>
          <td><%= rq.email%></td>
          <td><%= rq.contact_number%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
